<!DOCTYPE html>
<html>
    <head>
        <title>街拍控</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="ofshellohicy" content="street snap - http://ofshellohicy.info" />
        <link href="/static/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
        <style>
            .rights-info, .email-info, .offical-weibo { float: right; clear: both }
        </style>
    </head>
    <body>
<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/apps">街拍控</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <img src="/static/pics/snap.jpg"/>
        <hr>
        <p>
            街拍控是一款iOS时尚应用，提供每日精选全球时尚街拍，把握最新流行动态，为关注穿衣打扮的你我，提供有味道的映像。
        </p>
        <p><a class="btn btn-primary btn-large offical-weibo" href="http://weibo.com/weijiepai">官方微博 &raquo;</a></p>
      </div>

      <hr>

      <footer>
        <p class="rights-info">&copy; IcePhone Studio 2012</p>
        <p class="email-info">Email: jiepaikong@gmail.com</p>
      </footer>

    </div> <!-- /container -->
    <body>
</html>
