<!DOCTYPE html>
<html>
    <head>
    <title>街拍控--智能抓取结果</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="ofshellohicy" content="street snap - http://ofshellohicy.info" />
    <link href="/static/css/common.css" type="text/css" rel="stylesheet" />
    <link href="/static/css/style.css" type="text/css" rel="stylesheet" />
    <style>
        .next { float: right }
        .inner { width: 910px }
    </style>
    </head>
    <body>
        <div class="wrapper">
            <div class="header">
                <div class="inner">
                    <div class="paginator">
                        <a href="/" class="btn-green" rel="pre">首页</a>
                        <a href="/draft" class="btn-green" rel="pre">草稿</a>
                        <a href="/sample" class="btn-green" rel="pre">样本</a>
                        <a href="?start={{pre}}" class="btn-green" rel="pre">上一页</a>
                        <a href="?start={{next}}" class="btn-green" rel="next">下一页</a>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="inner">
                    <div id="container" class="clearfix">
                        {% for row in msgs %}
                            <div class="box photo col3">
                                <div class="op-bar">
                                    <!--<a href="#" class="btn-blue snap-sample" data-sid="{{row.sid}}">投赞成票</a>-->
                                    <a href="#" class="btn-blue trash-sample" data-sid="{{row.sid}}">举报垃圾</a>
                                    <span class="error"></span>
                                </div>
                                <a class="pic-item" href="{{row.pic}}" title="{{row.text}}" data-sid="{{row.sid}}">
                                    {% if row.status == 0 %}
                                        <img src="{{row.pic}}" class="img-pending">
                                    {% else %}
                                        <img src="{{row.pic}}" class="img-entry">
                                    {% endif %}
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="footer">
                <div class="inner">
                    <div class="paginator">
                        <a href="/" class="btn-green" rel="pre">首页</a>
                        <a href="/draft" class="btn-green" rel="pre">草稿</a>
                        <a href="/sample" class="btn-green" rel="pre">样本</a>
                        <a href="?start={{pre}}" class="btn-green" rel="pre">上一页</a>
                        <a href="?start={{next}}" class="btn-green" rel="next">下一页</a>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="http://lib.sinaapp.com/js/jquery/1.7/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery.masonry.min.js"></script>
        <script>
          $(function(){

            var $container = $('#container');

            $container.imagesLoaded( function(){
              $container.masonry({
                itemSelector : '.box'
              });
            });

            $('.pic-item').on('click', function(e){
                e.preventDefault();
                var target = $(this),
                    sid = target.data('sid'),
                    oImg = $('img', target);
                $.getJSON('/classification/' + sid + '/', {}, function(ret){
                    if(!ret.status){
                        oImg.removeClass('img-entry').addClass('img-pending');
                    }
                    else{
                        oImg.removeClass('img-pending').addClass('img-entry');
                    }

                    if(!ret.sina){
                        $('.error', target.parent()).text('加入sinaapp!!!').delay(1500).fadeIn(function(){ $(this).text('')});
                    }
                });
            });

            /*
            $('.snap-sample').on('click', function(e){
                e.preventDefault();
                var target = $(this),
                    sid = target.data('sid');
                console.info('click');
                $.getJSON('/add_snap_sample/' + sid + '/', {}, function(ret){
                    if(ret.status == 0){
                        $('.error', target.parent()).text('加入街拍样本').delay(1500).fadeIn(function(){ $(this).text('')});
                    }
                    else{
                    }
                });
            });
            */

            $('.trash-sample').on('click', function(e){
                e.preventDefault();
                var target = $(this),
                    sid = target.data('sid');
                console.info('click');
                $.getJSON('/add_trash_sample/' + sid + '/', {}, function(ret){
                    if(ret.status == 0){
                        $('.error', target.parent()).text('加入垃圾信息样本').delay(1500).fadeIn(function(){ $(this).text('')});
                    }
                    else{
                    }
                });
            });

          });
        </script>
    <body>
</html>
